@import url("https://fonts.googleapis.com/css2?family=Andika&family=Itim&family=Roboto&display=swap");

*{
    margin: 0;
    left: 0;
    top: 0;
    font-family: 'Roboto',sans-serif;
}

.pg1{
    height: 100vh;
}
.pg2{
    height: 80vh;
}
nav ul{
    display: flex;
    justify-content: space-around;

}

nav ul li{
    list-style: none;
    font-family: 'itim';
    padding-top: 10px;
}
nav ul li a{
    text-decoration: none;
    font-size: 36px;
    font-weight: 400;
  color: #FB9295;
}
.landing-cont{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.img-wrapper{
    width: max-content;
    margin-top: 40px;
    
}
#hero-img{
    width: 600px;
    height: auto;
}

.hero-txt{
    transform: translateX(-20px);
    font-size: 48px;
    color: #FB9295;
    line-height: 70px;
    align-self: flex-end;
    transform: translateY(-20px);

}
.hero-line-top{
    margin-bottom: 2px;
    background-color: #333;
    height: 1px;
}

.hero-line-bottom{
    margin-top: 8px;
    background-color: #333;
    height: 1.5px;
}

.landing-cont .hero-txt .flavor {
    color: #1864FF;
  }

.hero-mini-txt{
    margin-top: 10px;
    font-size: 20px;
    line-height: 20px;
    color: #1864FF;

}

.about-wrapper{
    display: flex;
    justify-content: space-around;
    /* align-items: center; */
}

.about-container{
    width: 40%;
}
.about-title{
    font-size: 72px;
    color: #1864FF;
}

.about-txt{
    font-size: 28px;
    color: #1864FF;
    background: #fb92968f;
    padding: 20px 20px 20px 20px;
    border-radius: 20px;
    font-family: 'itim';
    transform: translateX(-10px);
}

.about-illustration{
    width: 350px;
    transform: translateY(30px);
}

.skills-text{
    text-align: center;
    font-size: 50px;
    color: #1864FF;
}

.skills-text .flavor2 {
    color: #FB9295;
  }

.skills-logos{
    margin-top: 80px;
    display: flex;
    justify-content: center;
    height: 120px;
}

.spacing-for-skill-logos{
    margin-left: 100px;
}

.skills-logos-2{
    display: flex;
    justify-content: center;
    height: 170px;
    margin-top: 40px;
}

.git-img{
    height: 120px;
    transform: translateY(20px);
}

@media screen and (max-width: 1170px) {
    nav ul li a{
        font-size: 32px;
    }

    #hero-img{
        width: 500px;
    }
    .hero-txt{
        font-size: 38px;
        line-height: 55px;
    }
    .hero-mini-txt{
        font-size: 16px;
    }

    .about-title{
        font-size: 60px;
    }
    .about-txt{
        font-size: 22px;
    }
    .about-illustration{
        width: 300px;
    }
    .skills-text{
        font-size: 42px;
    }
    .skills-logos{
        height: 100px;
    }
    .skills-logos-2{
        height: 140px;
    }
    .git-img{
        height: 100px;
    }
    .about-wrapper{
        margin: -60px;
    }
    .about-container{
        transform: translateX(30px);
    }
   }


