@import url("https://fonts.googleapis.com/css2?family=Andika&family=Itim&family=Roboto&display=swap");

*{
    margin: 0;
    left: 0;
    top: 0;
    font-family: 'Roboto',sans-serif;
    scroll-behavior: smooth;
}

.pg1{
    height: 100vh;
}
.pg2{
    height: 80vh;
    display: flex;
    align-items: center;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-logo{
    margin-left: 100px;
    margin-top: 10px;
    color: #FB9295;
    font-size: 45px;
}
nav ul{
    display: flex;
    transform: translateX(-100px);
}

nav ul li{
    list-style: none;
    font-family: 'itim';
    padding-top: 10px;
    margin-left: 30px;
}
nav ul li a{
    text-decoration: none;
    font-size: 36px;
    font-weight: 400;
  color: #FB9295;
}
.landing-cont{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.img-wrapper{
    width: max-content;
    margin-top: 40px;
    
}
#hero-img{
    width: 600px;
    height: auto;
}

.hero-txt{
    transform: translateX(-20px);
    font-size: 48px;
    color: #FB9295;
    line-height: 70px;
    align-self: flex-end;
    transform: translateY(-20px);

}
.hero-line-top{
    margin-bottom: 2px;
    background-color: #333;
    height: 1px;
}

.hero-line-bottom{
    margin-top: 8px;
    background-color: #333;
    height: 1.5px;
}

.landing-cont .hero-txt .flavor {
    color: #1864FF;
  }

.hero-mini-txt{
    margin-top: 10px;
    font-size: 20px;
    line-height: 20px;
    color: #1864FF;

}

.about-wrapper{
    display: flex;
    justify-content: space-around;
    /* align-items: center; */
}

.about-container{
    width: 40%;
}
.about-title{
    font-size: 72px;
    color: #1864FF;
}

.about-txt{
    font-size: 28px;
    color: #1864FF;
    background: #fb92968f;
    padding: 20px 20px 20px 20px;
    border-radius: 20px;
    font-family: 'itim';
    transform: translateX(-10px);
}

.about-illustration{
    width: 350px;
    transform: translateY(30px);
}

.skills-wrapper{
    margin-top: 100px;
}
.skills-text{
    text-align: center;
    font-size: 50px;
    color: #1864FF;
}

.skills-text .flavor2 {
    color: #FB9295;
  }

.skills-logos{
    margin-top: 80px;
    display: flex;
    justify-content: center;
    height: 120px;
}

.spacing-for-skill-logos{
    margin-left: 100px;
}

.skills-logos-2{
    display: flex;
    justify-content: center;
    height: 170px;
    margin-top: 40px;
}

.git-img{
    height: 120px;
    transform: translateY(20px);
}

@media screen and (max-width: 1170px) {
    nav ul{
        transform: translateX(-40px);
    }
    nav ul li a{
        font-size: 32px;
    }

    #hero-img{
        width: 500px;
    }
    .hero-txt{
        font-size: 38px;
        line-height: 55px;
    }
    .hero-mini-txt{
        font-size: 16px;
    }

    .about-title{
        font-size: 60px;
    }
    .about-txt{
        font-size: 22px;
    }
    .about-illustration{
        width: 300px;
    }
    .skills-text{
        font-size: 42px;
    }
    .skills-logos{
        height: 100px;
    }
    .skills-logos-2{
        height: 140px;
    }
    .git-img{
        height: 100px;
    }
    .about-wrapper{
        margin: -60px;
    }
    .about-container{
        transform: translateX(30px);
    }
   }

   @media screen and (max-width: 900px) {
       .pg1{
           height: 70vh;
       }
       .nav-logo{
           font-size: 38px;
       }
       nav ul li a{
           font-size: 28px;
       }
        #hero-img{
            width: 400px;
        }
        .hero-txt{
            font-size: 32px;
            line-height: 48px;
        }
        .about-title{
            font-size: 50px;
        }
        .about-txt{
            font-size: 19px;
        }
        .about-illustration{
            width: 250px;
        }
        .pg2{
            height: 60vh;
        }
        .skills-text{
            font-size: 38px;
        }
        .skills-logos{
            height: 80px;
        }
        .skills-logos-2{
            height: 120px;
        }
        .git-img{
            height: 80px;
        }
        .pg3{
            height: 80vh;
        }
   }

   @media screen and (max-width:760px) {
       .landing-cont{
           flex-direction: column;
           align-items: center;

       }
       .pg1{
           height: 120vh;
       }
       .hero-txt{
           margin-top: 80px;
           align-self: center;
           width: 60%;
           text-align: center;
       }
       .about-wrapper{
           flex-direction: column;
           justify-content: center;
           align-items: center;
       }
       .about-container{
           width: 65%;
       }
       .pg2{
           height: 90vh;
       }
       .pg3{
           height: 80vh;
       }
       .skills-text{
           font-size: 30px;
           margin-top: 200px;
       }
       .skills-logos{
           height: 50px;
       }
       .skills-logos-2{
           height: 80px;
       }
       .git-img{
           height: 50px;
       }
    
   }

   @media screen and (max-width: 680px) {
       .nav-logo{
           display: none;
       }
       nav{
           justify-content: center;
       }
       .pg1{
           height: 130vh;
       }

       .skills-text{
           font-size: 26px;
       }
       .skills-logos{
           height: 42px;
       }
       .spacing-for-skill-logos{
           margin-left: 60px;
       }
   }

   @media screen and (max-width: 465px) {
       .skills-text{
           font-size: 22px;
       }
       .pg1{
           height: 120vh;
       }
       .hero-txt{
           font-size: 25px;
           line-height: 36px;
       }
       .about-title{
           font-size: 42px;
       }
       .pg2{
           height: 130vh;
       }
       .pg3{
           height: 50vh;
       }
       .about-container{
           transform: translateX(0px);
       }
       
   }
   @media screen and (max-width: 385px) {
       .pg1{
           height: 140vh;
       }
       .about-container{
           transform: translateX(0px);
       }
       .pg3{
        height: 60vh;
    }
    .skills-logos{
        margin-top: 60px;
    }
   }


